@import '../style-variables.scss';

.about-section {
  width: $challenger-size;
  padding: 0.5em;
  
  border-width: 3px;
  border-style: outset;
  border-color: #606060;
  border-radius: 15px;

  display: flex;
  flex-direction: column;

  &.invisible {
    display: none;
    }
}