$border-stack: 5px solid black;
$border-size: 5px;
$challenger-size: 300px;

.challenger-container {
  background-color: #cccccc;
  width: 1.2*$challenger-size;
  padding: $border-size;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: $challenger-size;
  height: $challenger-size;
  padding: $border-size;
  vertical-align: middle;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.button {
  border: $border-stack;
  
  &.unclickable {
    pointer-events: none;
  }
  
  &-b0 {
    @extend .button;
    background-color: #008000;
    border-color: #003300;
    border-top-left-radius: 100%;
    
    &:hover {
      background-color: #00cc00;
    }
    
    &.active {
      background-color: #00ff00;
      border-color: #006600;
    }
  }
  
  &-b1 {
    @extend .button;
    background-color: #800000;
    border-color: #330000;
    border-top-right-radius: 100%;
    
    &:hover {
      background-color: #cc0000;
    }
    &.active {
      background-color: #ff0000;
      border-color: #660000;
    }
  }
  
  &-b2 {
    @extend .button;
    background-color: #808000;
    border-color: #333300;
    border-bottom-left-radius: 100%;
    
    &:hover {
      background-color: #cccc00;
    }
    &.active {
      background-color: #ffff00;
      border-color: #666600;
    }
  }
  
  &-b3 {
    @extend .button;
    background-color: #000080;
    border-color: #000033;
    border-bottom-right-radius: 100%;
    
    &:hover {
      background-color: #0000cc;
    }
    &.active {
      background-color: #0000ff;
      border-color: #000066;
    }
  }
}

.theMiddle {
  font-size: 2em;
  background-color: #cccccc;
  border: $border-stack;
  border-color: #333333;
  width: $challenger-size/3;
  height: $challenger-size/3;
  position: absolute;
  margin-top: $challenger-size/2 - $challenger-size/6 - 2.5*$border-size;
  margin-left: $challenger-size/2 - $challenger-size/6 - 2.5*$border-size;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}