$border-stack: 5px solid black;
$border-size: 5px;
$challenger-size: 300px;

.container {
  width: $challenger-size;
  height: $challenger-size;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.button {
  border: $border-stack;
  
  &-b0 {
    @extend .button;
    background-color: green;
    border-top-left-radius: 100%;
    
    &:hover, &.active {
      background-color: lightgreen;
    }
  }
  
  &-b1 {
    @extend .button;
    background-color: red;
    border-top-right-radius: 100%;
    
    &:hover, &.active {
      background-color: pink;
    }
  }
  
  &-b2 {
    @extend .button;
    background-color: yellow;
    border-bottom-left-radius: 100%;
    
    &:hover, &.active {
      background-color: lightyellow;
    }
  }
  
  &-b3 {
    @extend .button;
    background-color: blue;
    border-bottom-right-radius: 100%;
    
    &:hover, &.active {
      background-color: lightblue;
    }
  }
}

.theMiddle {
  font-size: 2em;
  background-color: white;
  border: $border-stack;
  width: $challenger-size/3;
  height: $challenger-size/3;
  position: absolute;
  margin-top: $challenger-size/2 - $challenger-size/6 - 1.5*$border-size;
  margin-left: $challenger-size/2 - $challenger-size/6 - 1.5*$border-size;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}