.container {
  width: 400px;
  height: 400px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.button1 {
  background-color: green;
  border-top-left-radius: 100%;
  border: 5px solid black;
}

.button1:hover {
  background-color: lightgreen;
}

.button2 {
  background-color: red;
  border-top-right-radius: 100%;
  border: 5px solid black;
}

.button2:hover {
  background-color: pink;
}

.button3 {
  background-color: yellow;
  border-bottom-left-radius: 100%;
  border: 5px solid black;
}

.button3:hover {
  background-color: lightyellow;
}

.button4 {
  background-color: blue;
  border-bottom-right-radius: 100%;
  border: 5px solid black;
}

.button4:hover {
  background-color: lightblue;
}

.theMiddle {
  background-color: white;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  width: 130px;
  height: 130px;
  position: absolute;
  margin-top: 130px;
  margin-left: 130px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}