@import '../style-variables.scss';

.buttons-container {
  background-color: $app-color;
  margin-left: auto;
  margin-right: auto;
  width: $challenger-size;
  display: flex;
  justify-content: space-around;
  align-items: center;
}