@import './style-variables.scss';

.App {
  background-color: $app-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

p {
  margin: 0.2em;
}

h3 {
  margin: 0.5em;
}
