@import './style-variables.scss';

.App {
  text-align: center;
  background-color: $app-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
